<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.hj.mapper.MasterMapper">
	
	<select id = "getAcceptList" resultType="org.hj.model.UserVO">
		select * from user
		where (acceptNurse = false) and s_team is not null;
	</select>

	<update id="accept">
        UPDATE user SET acceptNurse = true 
        WHERE id = #{id}
    </update>

    <delete id="reject">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

</mapper>